body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color: black;
  color: white;
}

* {
  box-sizing: border-box;
}

.game-board {
  display: table;
  width: 100%;
  height: 55vh;
  padding: 0.5vh 0.5vw 0.5vh 0.5vw;
}

.board-row {
  display: table-row;
}

.board-letter, .board-number {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width: 6vw;
  float: left;
}

.board-letter {
  font-size: 3.5vw;
  padding: .1vh .6vw .1vh .6vw;
}

.board-number {
  font-size: 2.5vw;
  border: none;
  background-color: black;
  color: #555;
  padding: 1.25vh 1.25vw 1.25vh 1.25vw;
}

.board-number-view {
  color: #222;
}

.board-number:active {
  border: solid white;
  border-width: 0.5vh 0.3vw 0.5vh 0.3vw;
  padding: .75vh .95vw .75vh .95vw;
}

.board-number:disabled {
  color: white;
  border: none;
  padding: 1.25vh 1.25vw 1.25vh 1.25vw;
}

.board-number-active:disabled {
  color: red;
}

.info-sections {
  width: 40%;
  float: left;
  padding: 2vh 2vw 0.5vh 2vw;
}

.bingo-validation {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 2vh;
}

.bingo-status {
  width: 40%;
  float: right;
}

.last-numbers {
  height: 28vh;
}

.previous-numbers {
  font-size: 3vw;
  float: left;
  padding-right: 5%;
  width: 9vw;
}

.current-number {
  font-size: 10vw;
  height: 40%;
  vertical-align: middle;
  padding-top: 2.5vh;
}

.last-numbers:after {
  content: "";
  display: table;
  clear: both;
}

.buttons {
  text-align: center;
  padding-top: 1.5vh;
}

.buttons button {
  border: none;
  background-color: black;
  padding-left: 2vw;
  padding-right: 2vw;
  font-size: 5vw;
  color: white;
}

.buttons img {
  max-width: 4vw;
}

.buttons button:disabled img {
  opacity: 0.3;
}

.card-table {
  display: table;
  border-collapse: collapse;
}

.cardTHead {
  display: table-header-group;
}

.cardTBody {
  display: table-row-group;
}

.cardRow {
  display: table-row;
}

.cardCell, .cardHead {
  display: table-cell;
  font-size: 2vw;
  width: 4vw;
  height: 5vh;
  vertical-align: middle;
  border: 0.2vw solid white;
}

.cardHead {
  padding-top: 1.2vh;
  padding-bottom: 1.2vh;
}

.cardCell {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
}

.cardCellHighlighted {
  color: green;
}

.cardCellSelected {
  color: yellow;
}

.card-number-input .number-display {
  padding: 1vh 0 3vh 0;
  font-size: 2vw;
}

.card-number-input input {
  font-size: 2vw;
  width: 8vw;
  padding: 0 0.3vw 0 0.4vw;
  border: 0.1vw solid white;
  background-color: transparent;
  color: white;
}

.card-number-input button {
  font-size: 2vw;
  width: 4vw;
  margin: 0.5vh 0.2vw 0.5vh 0.2vw;
  padding: 1vh 0 1vh 0;
  background-color: black;
  border: 0.2vw solid white;
  color: white;
}

.bingo-status {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 35vh;
  padding: 0 2vw;
}

.bingo-message {
  font-size: 10vw;
  padding-top: 2vh;
}

.bingo-types {
  display: flex;
  padding-top: 2vh;
  padding-bottom: 3vh;
  margin-top: 1vh;
  margin-bottom: 2vh;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;
  height: 25vh;
}

.bingo-types-line {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
}

.bingoType {
  padding: 0.5vh .5vw 0.5vh .5vw;
}

.bingoType button {
  font-size: 3vw;
  color: white;
  padding: 1vh 1vw 1vh 1vw;
  background-color: black;
  border: none;
}

.bingoType button img {
  max-height: 20vh;
  width: 100%;
}

.bingoType .bingoTypeSelected {
  color: red;
}

.bingoType .bingoTypeSelected img {
  filter: url(colorfilters.svg#colorChangeRed)
}

.bingoType .bingoTypeHighlighted {
  color: green;
}

.bingoType .bingoTypeHighlighted img {
  filter: url(colorfilters.svg#colorChangeGreen)
}

.bingoType .bingoTypeCurrent {
  color: yellow;
}

.bingoType .bingoTypeCurrent img {
  filter: url(colorfilters.svg#colorChangeYellow)
}

.bingoType button:disabled {
  color: #222;
}

.bingoType button:disabled img {
  filter: brightness(20%);
}

.bingo-types-buttons {
  text-align: center;
  padding-top: 1.5vh;
}

.bingo-types-buttons button {
  font-size: 6vh;
  height: 9vh;
  width: 10vw;
  background-color: black;
  border: 0.2vw solid white;
  color: white;
  vertical-align: top;
}

.bingo-types-buttons button:disabled {
  border: 0.2vw solid #555;
  color: #555;
}

.bingo-types-buttons img {
  height: 55%;
}

.bingo-types-buttons button:disabled img {
  opacity: 0.3;
}

.bingo-types-buttons .smalltext {
  font-size: 3vh;
}

.bingoButton {
  font-size: 3.5vw;
  padding: 1vh 5vw 1vh 5vw;
  background-color: black;
  border: 0.2vw solid white;
  color: white;
}

.bingoButton button:disabled {
  border-color: #555;
  color: #555;
}
